extends ../layout

block content
  div.mx-auto.mt-4.py-4.border.border-primary.rounded.bg-ligth.form-st-1
    h1.text-center.mb-4
      | Nuevo empleado
    hr
    div.px-4
      form(class="" action="" method="POST")
        div.mb-3.row
          div.col
            label(for="nombre" class="form-label") Nombre
            if body
              if notify && notify.nombre
                input(type="text" class="form-control is-invalid" name="nombre" id="nombre" value=body.nombre)
                div.invalid-feedback
                  | Nombre inválido.
              else 
                input(type="text" class="form-control" name="nombre" id="nombre" value=body.nombre)
            else
              input(type="text" class="form-control " name="nombre" id="nombre")
          div.col
            label(for="apellido" class="form-label") Apellido
            if body
              if notify && notify.apellido
                input(type="text" class="form-control is-invalid" name="apellido" id="apellido" value=body.apellido)
                div.invalid-feedback
                  | Apellido inválido.
              else
                input(type="text" class="form-control" name="apellido" id="apellido" value=body.apellido)
            else
              input(type="text" class="form-control" name="apellido" id="apellido")
        div.mb-3.row
          div.col
            label(for="dni" class="form-label") DNI
            if body 
              if notify && notify.dni
                input(type="text" class="form-control is-invalid" name="dni" id="dni" value=body.dni)
                div.invalid-feedback
                  | DNI inválido.
              else
                input(type="text" class="form-control" name="dni" id="dni" value=body.dni)
            else
              input(type="text" class="form-control" name="dni" id="dni")
          div.col
            label(for="fechaNac" class="form-label") Fecha nacimiento
            if body
              input(type="date" class="form-control" name="fechaNac" id="fechaNac" value=body.fechaNac)
            else 
              input(type="date" class="form-control" name="fechaNac" id="fechaNac")
        div.mb-3.row
          div.col
            label(for="idGenero" class="form-label") Genero
            select(name="idGenero" class="form-select" id="genero")
              each gen in generos
                option(value=gen.idGenero)= gen.nombre
          div.col
            label(for="idEstCivil" class="form-label") Estado civil
            select(name="idEstCivil" class="form-select" id="estCivil") 
              each est in estCiviles
                option(value=est.idEstCivil)= est.nombre
        div.mb-3.row
          div.col
            label(for="telefono" class="form-label") Telefono
            if body 
              if notify && notify.telefono
                input(type="text" class="form-control is-invalid" name="telefono" id="telefono" value=body.telefono)
                div.invalid-feedback
                  | Teléfono inválido.
              else
                input(type="text" class="form-control" name="telefono" id="telefono" value=body.telefono)
            else 
              input(type="text" class="form-control" name="telefono" id="telefono")
          div.col
            label(for="mail" class="form-label") Mail
            if body 
              if notify && notify.mail
                input(type="text" class="form-control is-invalid" name="mail" id="mail" value=body.mail)
                div.invalid-feedback
                  | Dirección mail inválida.
              else
                input(type="text" class="form-control" name="mail" id="mail" value=body.mail)
            else
              input(type="text" class="form-control" name="mail" id="mail")
        div.mb-3
          label(for="direccion" class="form-label") Direccion
          if body 
            input(type="text" class="form-control" name="direccion" id="direccion" value=body.direccion)
          else
            input(type="text" class="form-control" name="direccion" id="direccion")
        div.mb-3.col-sm-5.mx-auto
          label(for="idRol" class="form-label") Rol
          select(name="idRol" class="form-select" id="rol") 
            each rol in roles
              option(value=rol.idRol)= rol.nombre
        div.text-center.mt-3
          input(type="submit" class="btn btn-primary" value="Cargar")
  div.mt-4.text-center
    p Cuando se de un alta a un empleado su contraseña provisoria sera su numero de DNI, por lo que se sugiere que se llene bien ese campo.